<!DOCTYPE html>
<html>
    <head>
        <title>About Me</title>
        <link rel="stylesheet" href="styles/weatherstyle.css">
        <link rel="icon" href="pics/earth.jpg">
       <style>
          .alp{
              width:300px;
          }
       </style>
    </head>
    <body>
        {{>header}}
        <section>
          
           <img class="alp"src="pics/Ngu_Alpha.jpg" alt="">
           <p>About Me</p>
        </section>
{{>footer}}
    </body>
</html>