<!DOCTYPE html>
<html>
    <head>
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather App Help page</title>
        <link rel="stylesheet" href="/styles/weatherstyle.css">
        <link rel="icon" href="../pics/earth.jpg">
       <style>
          .hlp{
              width: 300px;
              margin: auto;
          }
       </style>
    </head>
    <body>
        {{>header}}
        <section>
           
           <img class="hlp" src="../pics/help.png" alt="">
          
        </section>
       {{>footer}}
    </body>
</html>