<!DOCTYPE html>
<html>
    <head>
        <title>404, No Help article</title>
        <link rel="stylesheet" href="/styles/weatherstyle.css">
        <link rel="icon" href="../pics/earth.jpg">
       <style>
          .hlp{
              width: 300px;
              margin: auto;
          }
       </style>
    </head>
    <body>
        {{>header}}
        <section>
           
           <img class="hlp" src="../pics/c404.jpg" alt="">
            <h1>No article could be found for this help topic!</h1>
        </section>
       {{>footer}}
    </body>
</html>