     <header>
          <div class="title"> Weather App &nbsp; {{txt}}</div>
          <div class="nav">
              <div class="hd"><a href="/">Home</a> </div>
              <div class="hd"><a href="/about">About</a></div>
              <div class="hd"><a href="/help">Help</a></div>
          </div>
           
        </header>