header{
    font-size: 40pt;
    font-family: 'Courier New', Courier, monospace,sans-serif;
    text-align: center;
    padding:5px 0;
    font-weight: bold;
    border-bottom:1px solid #888;
    margin-bottom:20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:700px;
    margin: 0 auto;
}
section{
    flex-grow: 1;
    width:100%;
}
.nav{
    display: flex;
    flex-direction:row;
}
.hd{
    width:33%;
    text-align: center;
}
.hd a{
      text-decoration: none;
    color: #888888;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    width:100%;
    padding:4px 10px;
    text-align: center;
    margin-top:20px;
    font-size: 18pt;
    background-color: #56ee;
    color: aliceblue;
}
@media (max-width:700px){
    section{
        flex-direction: column;
    }
    header,footer{
        width:96vw;
        padding:1rem 2vw;
    }
    header{
        font-size:20pt;
    }
}