header{
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding:5px 0;
    font-weight: bold;
    border-bottom:1px solid #888;
    margin-bottom:20px;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width:100vw;
    margin: 0 auto;
}
section{
    flex-grow: 1;
    width:100%;
}
.nav{
    display: flex;
    flex-direction:row;
}
.hd{
    width:33%;
    text-align: center;
}
.hd a{
      text-decoration: none;
    color: #888888;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    width:100%;
    padding:4px 10px;
    text-align: center;
    margin-top:20px;
    font-size: 18pt;
    background-color: #56ee;
    color: aliceblue;
}
button{
    width:auto;
    background-color: #044;
    height:3.3rem;
    color:#fff;
    margin:3px 0;
    padding:0 3px;
}
input{
    height:3rem;
    margin:3px 0;
}
section{
    display: flex;
    flex-direction: row;
}
td, tr{
    border:1px solid green;
}
.earth{
   width: 300px;
}
.leftpg,.rightpg{
   width:48%;
   height: 100%;
   padding: 1%;
}
#des{
   font-weight: bold;
   color:blue;
}
.rightpg li{
   list-style: none;
}
@media (max-width:700px){
    section{
        flex-direction: column;
    }
    header,footer{
        width:96vw;
        padding:1rem 2vw;
    }
    header{
        font-size:20pt;
    }
    .leftpg,.rightpg{
        width:94%;
        margin: 0;
        justify-content: center;
    }
  form{
      width:85vw;
  }
  section{
    flex-direction:column;
}
 .earth{
         width:70%;
       }
       #res{
           width:100vw;
       }
}